# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
jeopardy = pd.read_csv("jeopardy.csv")
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [3]:
jeopardy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       216930 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [4]:
jeopardy.duplicated().value_counts()

False    216930
dtype: int64

In [5]:
jeopardy.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [6]:
jeopardy.columns = jeopardy.columns.str.lstrip()

In [7]:
jeopardy.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [8]:
for column in jeopardy.columns:
    print(column + "-"* 100)
    print(jeopardy[column].value_counts())
    print()

Show Number----------------------------------------------------------------------------------------------------
2941    62
5332    62
6237    61
1945    61
3562    61
        ..
3656    30
6300    30
2757    30
3022    16
1178    12
Name: Show Number, Length: 3640, dtype: int64

Air Date----------------------------------------------------------------------------------------------------
1997-05-19    62
2007-11-13    62
2011-11-01    61
1993-02-05    61
2000-02-15    61
              ..
2000-06-26    30
2012-01-27    30
1996-09-03    30
1997-10-21    16
1989-10-18    12
Name: Air Date, Length: 3640, dtype: int64

Round----------------------------------------------------------------------------------------------------
Jeopardy!           107384
Double Jeopardy!    105912
Final Jeopardy!       3631
Tiebreaker               3
Name: Round, dtype: int64

Category----------------------------------------------------------------------------------------------------
BEFORE & AFTER        547
SCIENCE               519
LITERATURE            496
AMERICAN HISTORY      418
POTPOURRI             401
                     ...
1999 TELEVISION         1
WORDS IN PHYSICS        1
LITERATURE & MUSIC      1
'90s NOTABLES           1
CELEBRITY NAMES         1
Name: Category, Length: 27995, dtype: int64

Value----------------------------------------------------------------------------------------------------
$400       42244
$800       31860
$200       30455
$600       20377
$1000      19539
           ...
$5,401         1
$1,183         1
$1,203         1
$11,600        1
$11,200        1
Name: Value, Length: 150, dtype: int64

Question----------------------------------------------------------------------------------------------------
[audio clue]                                                                                               17
[video clue]                                                                                               14
(audio clue)                                                                                                5
[filler]                                                                                                    5
Hainan                                                                                                      4
                                                                                                           ..
In a Kipling ballad "East is east, and west is west, and never" these 4 words                               1
The Czechs call this 720-mile-long river the Labe                                                           1
You can still buy this character's cereal online                                                            1
The Black Knight plush figure from this British comedy film has detachable limbs                            1
A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great     1
Name: Question, Length: 216124, dtype: int64

Answer----------------------------------------------------------------------------------------------------
China                             216
Australia                         215
Japan                             196
Chicago                           194
France                            193
                                 ...
the barre (or bar)                  1
grams                               1
the Hopis                           1
free parking                        1
Grigori Alexandrovich Potemkin      1
Name: Answer, Length: 88268, dtype: int64

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [9]:
def filter_data(data, words):
    filter = lambda x: all(word in x for word in words)
    return data.loc[data["Question"].apply(filter)]

In [10]:
filtered = filter_data(jeopardy, ["King", "England"])
print(filtered["Question"])

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: Question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [11]:
def filter_data(data, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data["Question"].apply(filter)]

In [12]:
filtered = filter_data(jeopardy, ["King", "England"])
print(filtered["Question"])

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [13]:
jeopardy["Value"] = jeopardy["Value"].replace({"[$,]": "", "[None]": 0}, regex=True).astype("float")

In [14]:
filtered = filter_data(jeopardy, ["King"])
filtered["Value"].mean()

771.8833850722094

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [15]:
def get_answer_counts(data):
    return data["Answer"].value_counts()

In [16]:
get_answer_counts(filtered)

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: Answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

##### Answer 6.a

In [17]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [18]:
jeopardy["Air Date Year"] = pd.to_datetime(jeopardy["Air Date"]).dt.year

In [19]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,Air Date Year
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,2004
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,2004
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona,2004
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's,2004
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams,2004

In [20]:
year_2000s = jeopardy[jeopardy["Air Date Year"].astype("str").apply(lambda x:True if x.startswith("20") else False)]

In [21]:
year_1990s = jeopardy[jeopardy["Air Date Year"].astype("str").apply(lambda x:True if x.startswith("199") else False)]

In [22]:
computer_word_count_2000s = year_2000s[year_2000s["Question"].apply(lambda x : "computer" in x.lower())].shape[0]

In [23]:
computer_word_count_1990s = year_1990s[year_1990s["Question"].apply(lambda x : "computer" in x.lower())].shape[0]

In [24]:
print(f"{computer_word_count_1990s} questions from the 90s use the word \
'Computer' and {computer_word_count_2000s} questions from the 2000s use the word 'Computer.'")

98 questions from the 90s use the word 'Computer' and 327 questions from the 2000s use the word 'Computer.'

##### Answer 6.b

In [25]:
Round_Category = jeopardy[["Round", "Category"]]

In [26]:
Round_Category[Round_Category["Round"] == "Jeopardy!"]["Category"].unique()

array(['HISTORY', "ESPN's TOP 10 ALL-TIME ATHLETES",
       'EVERYBODY TALKS ABOUT IT...', ..., 'DUMB DOWN THE SIMILE',
       'LOVE SONGS IN GERMAN', 'FIRST IN OUR HEARTS'], dtype=object)

In [27]:
Round_Category["Round"].value_counts()

Jeopardy!           107384
Double Jeopardy!    105912
Final Jeopardy!       3631
Tiebreaker               3
Name: Round, dtype: int64

In [28]:
Round_Category[Round_Category["Round"] == "Double Jeopardy!"]["Category"].unique()

array(['DR. SEUSS AT THE MULTIPLEX', 'PRESIDENTIAL STATES OF BIRTH',
       'AIRLINE TRAVEL', ..., 'RIDDLE ME THIS', '"T" BIRDS',
       'AUTHORS IN THEIR YOUTH'], dtype=object)

In [29]:
Round_Category[Round_Category["Round"] == "Final Jeopardy!"]["Category"].unique()

array(['THE SOLAR SYSTEM', 'HISTORIC WOMEN', 'SPORTS LEGENDS', ...,
       'MAJOR LEAGUE BASEBALL TEAM NAMES', 'SKYSCRAPERS',
       'NATIONAL CAPITALS'], dtype=object)

In [30]:
Round_Category[Round_Category["Round"] == "Tiebreaker"]["Category"].unique()

array(["CHILD'S PLAY", 'THE AMERICAN REVOLUTION', 'LITERARY CHARACTERS'],
      dtype=object)

In [31]:
# Yes there is a connection between the round and the category.

In [32]:
jeopardy[jeopardy["Category"] == "LITERATURE"]["Round"].value_counts()

Double Jeopardy!    381
Jeopardy!           105
Final Jeopardy!      10
Name: Round, dtype: int64

In [33]:
#You are more likely to find "Literature" categories in Double Jeopardy.

##### Answer 6.c

In [34]:
#Build a system to quiz yourself. Grab random questions, 
#and use the input function to get a response from the user. Check to see if that response was right or wrong.

In [35]:
jeopardy.head(2)

,Show Number,Air Date,Round,Category,Value,Question,Answer,Air Date Year
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,2004
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,2004

In [36]:
import random
random = jeopardy[["Question", "Answer"]].iloc[random.randint(0, len(jeopardy))]
question = random["Question"]
answer = random["Answer"]
print(question)
print(answer)
user_answer = input("Please enter your answer: ")
if str(answer).lower() == user_answer.lower():
    print("Correct")
else:
    print("False")

It sounds positive, but it can also be the act of taking revenge
payback
Please enter your answer:
False

In [53]:
def game_starter():
    point = 0
    for i in range(len(jeopardy)):
        import random
        random = jeopardy[["Question", "Answer"]].iloc[random.randint(0, len(jeopardy))]
        question = random["Question"]
        answer = random["Answer"]
        print(question)
        print(answer)
        user_answer = input("Please enter your answer: ")
        if str(answer).lower() == user_answer.lower():
            point += 1
            print(f"Correct! Your Total Correct answer: {point}. Go On!")

        else:
            print("Your answer is False! Game Over!")
            break

In [52]:
game_starter()

Bryan Trottier sparked this team to 4 Stanley Cup championships from 1980 through 1983
the New York Islanders
Please enter your answer: the new york islanders
Correct! Your Total Correct answer: 1 Go On!
(<a href="http://www.j-archive.com/media/2005-05-13_DJ_03.jpg" target="_blank">Hi, I'm Paula Zahn.</a>)  On my first day working for CNN, I reported live on the 9/11 attacks & interviewed this Jordanian king
King Abdullah
Please enter your answer: king abdullah
Correct! Your Total Correct answer: 2 Go On!
She played Lola the Cigarette Girl on "The Morey Amsterdam Show" before she wrote "Valley of the Dolls"
Jacqueline Susann
Please enter your answer: jacqueline susann
Correct! Your Total Correct answer: 3 Go On!
Caroline Rhea is this teenage witch's kooky Aunt Hilda
Sabrina
Please enter your answer: sabrina
Correct! Your Total Correct answer: 4 Go On!
Ethan Allen Mountain, White River
Vermont
Please enter your answer: fırat
Your answer is False! Game Over!