### Python Strings: Medical Insurance Project

The string medical_data stores the medical records for ten individuals. Each record is separated by a ; and contains the name, age, BMI (body mass index), and insurance cost for an individual, in that order.

In [100]:
medical_data = "Marina Allison   ,27   ,   31.1 , #7010.0   ;Markus Valdez   ,   30, 22.4,   #4050.0 ;Connie Ballard ,43 , \
25.3 , #12060.0 ;Darnell Weber   ,   35   , 20.6   , #7500.0;Sylvie Charles   ,22, 22.1 ,#3022.0   ;   Vinay Padilla,24,  \
26.9 ,#4620.0 ;Meredith Santiago, 51   , 29.3 ,#16330.0;   Andre Mccarty, 19,22.7 , #2900.0 ; Lorena Hodson ,65, 33.1 ,\
#19370.0; Isaac Vu ,34, 24.8,   #7045.0"

##### 1. Working with Strings

##### 1.1
We want the insurance costs to be represented in US dollars.

1. Replace all instances of # in `medical_data` with $. Store the result in a variable called `updated_medical_data`.

2. Print `updated_medical_data`.

In [101]:
updated_medical_data = medical_data.replace("#", "$")
updated_medical_data

'Marina Allison   ,27   ,   31.1 , $7010.0   ;Markus Valdez   ,   30, 22.4,   $4050.0 ;Connie Ballard ,43 , 25.3 , $12060.0 ;Darnell Weber   ,   35   , 20.6   , $7500.0;Sylvie Charles   ,22, 22.1 ,$3022.0   ;   Vinay Padilla,24,  26.9 ,$4620.0 ;Meredith Santiago, 51   , 29.3 ,$16330.0;   Andre Mccarty, 19,22.7 , $2900.0 ; Lorena Hodson ,65, 33.1 ,$19370.0; Isaac Vu ,34, 24.8,   $7045.0'

##### 1.2

We want to calculate the number of medical records in our data.

1. Create a variable called `num_records` and initialize it at 0.

2. Next, write a for loop to iterate through the `updated_medical_data` string. Inside of the loop, add 1 to num_records when the current character is equal to $.

3. Outside of the loop, print `num_records` with the following message:
    - There are {num_records} medical records in the data.

In [102]:
num_records = 0
for i in updated_medical_data:
    if i == "$":
        num_records += 1
print(f"There are {num_records} medical records in the data.")

There are 10 medical records in the data.

##### 2. Splitting Strings

##### 2.1

The medical data in its current form is difficult to analyze. An essential job for a data scientist is to clean up data so that it’s easy to work with.

Let’s start off by splitting the `updated_medical_data` string into a list of each medical record. Remember that each medical record is separated by a ; in the string.

Store the result in a variable called `medical_data_split` and print this variable.

In [103]:
medical_data_split = updated_medical_data.split(";")
medical_data_split

['Marina Allison   ,27   ,   31.1 , $7010.0   ',
 'Markus Valdez   ,   30, 22.4,   $4050.0 ',
 'Connie Ballard ,43 , 25.3 , $12060.0 ',
 'Darnell Weber   ,   35   , 20.6   , $7500.0',
 'Sylvie Charles   ,22, 22.1 ,$3022.0   ',
 '   Vinay Padilla,24,  26.9 ,$4620.0 ',
 'Meredith Santiago, 51   , 29.3 ,$16330.0',
 '   Andre Mccarty, 19,22.7 , $2900.0 ',
 ' Lorena Hodson ,65, 33.1 ,$19370.0',
 ' Isaac Vu ,34, 24.8,   $7045.0']

##### 2.2


Our data is now stored in a list, but it is still hard to read. Let’s split each medical record into its own list.

First, define an empty list called `medical_records`.

In [104]:
medical_records = []

##### 2.3


Next, iterate through `medical_data_split` and for each record, split the string after each comma (,) and append the split string to `medical_records`.

Print `medical_records` after the loop.

In [105]:
for i in medical_data_split:
    medical_records.append(i.split(","))

In [106]:
medical_records

[['Marina Allison   ', '27   ', '   31.1 ', ' $7010.0   '],
 ['Markus Valdez   ', '   30', ' 22.4', '   $4050.0 '],
 ['Connie Ballard ', '43 ', ' 25.3 ', ' $12060.0 '],
 ['Darnell Weber   ', '   35   ', ' 20.6   ', ' $7500.0'],
 ['Sylvie Charles   ', '22', ' 22.1 ', '$3022.0   '],
 ['   Vinay Padilla', '24', '  26.9 ', '$4620.0 '],
 ['Meredith Santiago', ' 51   ', ' 29.3 ', '$16330.0'],
 ['   Andre Mccarty', ' 19', '22.7 ', ' $2900.0 '],
 [' Lorena Hodson ', '65', ' 33.1 ', '$19370.0'],
 [' Isaac Vu ', '34', ' 24.8', '   $7045.0']]

##### 3. Cleaning Data

##### 3.1

Our data is now slightly more readable. However, it is not properly formatted – it contains unnecessary whitespace.

To fix this, let’s start by creating an empty list called `medical_records_clean`.

In [107]:
medical_records_clean = []

##### 3.2


Next, use a for loop to iterate through `medical_records`.

1. Inside of the loop, create an empty list called `record_clean`. We’ll use this list to store a formatted version of each medical record.
2. After the `record_clean` variable, create a nested for loop that goes through each record : Inside of this loop, append `item.strip()` to `record_clean` to remove any whitespace from the string.
3. Finally, we need to add each cleaned up record to `medical_records_clean`. Outside of the nested for loop, append `record_clean` to `medical_records_clean`.
4. Print `medical_records_clean` outside of the for loops to see the output. You should see output that is formatted and much easier to read.

In [108]:
medical_records

[['Marina Allison   ', '27   ', '   31.1 ', ' $7010.0   '],
 ['Markus Valdez   ', '   30', ' 22.4', '   $4050.0 '],
 ['Connie Ballard ', '43 ', ' 25.3 ', ' $12060.0 '],
 ['Darnell Weber   ', '   35   ', ' 20.6   ', ' $7500.0'],
 ['Sylvie Charles   ', '22', ' 22.1 ', '$3022.0   '],
 ['   Vinay Padilla', '24', '  26.9 ', '$4620.0 '],
 ['Meredith Santiago', ' 51   ', ' 29.3 ', '$16330.0'],
 ['   Andre Mccarty', ' 19', '22.7 ', ' $2900.0 '],
 [' Lorena Hodson ', '65', ' 33.1 ', '$19370.0'],
 [' Isaac Vu ', '34', ' 24.8', '   $7045.0']]

In [109]:
for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip())
    medical_records_clean.append(record_clean)

In [110]:
medical_records_clean

[['Marina Allison', '27', '31.1', '$7010.0'],
 ['Markus Valdez', '30', '22.4', '$4050.0'],
 ['Connie Ballard', '43', '25.3', '$12060.0'],
 ['Darnell Weber', '35', '20.6', '$7500.0'],
 ['Sylvie Charles', '22', '22.1', '$3022.0'],
 ['Vinay Padilla', '24', '26.9', '$4620.0'],
 ['Meredith Santiago', '51', '29.3', '$16330.0'],
 ['Andre Mccarty', '19', '22.7', '$2900.0'],
 ['Lorena Hodson', '65', '33.1', '$19370.0'],
 ['Isaac Vu', '34', '24.8', '$7045.0']]

##### 4. Analyzing Data

##### 4.1

You want all of the names in the medical records to be in uppercase characters.

In the for loop, update `records[0]` before the print statement so that all of the characters are uppercase.

In [111]:
for record in medical_records_clean:
    record[0] = record[0].upper()

In [112]:
medical_records_clean

[['MARINA ALLISON', '27', '31.1', '$7010.0'],
 ['MARKUS VALDEZ', '30', '22.4', '$4050.0'],
 ['CONNIE BALLARD', '43', '25.3', '$12060.0'],
 ['DARNELL WEBER', '35', '20.6', '$7500.0'],
 ['SYLVIE CHARLES', '22', '22.1', '$3022.0'],
 ['VINAY PADILLA', '24', '26.9', '$4620.0'],
 ['MEREDITH SANTIAGO', '51', '29.3', '$16330.0'],
 ['ANDRE MCCARTY', '19', '22.7', '$2900.0'],
 ['LORENA HODSON', '65', '33.1', '$19370.0'],
 ['ISAAC VU', '34', '24.8', '$7045.0']]

##### 4.2

Let’s store each name, age, BMI, and insurance cost in separate lists.

To start, create four empty lists:
- `names`
- `ages`
- `bmis`
- `insurance_costs`

In [113]:
names = []
ages = []
bmis = []
insurance_costs = []

##### 4.3

Next, iterate through `medical_records_clean` and for each record:

- Append the name to `names`.
- Append the age to `ages`.
- Append the BMI to `bmis`.
- Append the insurance cost to `insurance_cost`.

In [114]:
for record in medical_records_clean:
    names.append(record[0])
    ages.append(record[1])
    bmis.append(record[2])
    insurance_costs.append(record[3])

##### 4.4

Print `names`, `ages`, `bmis`, and `insurance_costs` outside of the loop.

Make sure the output is what you expect.

In [115]:
print(names)
print(ages)
print(bmis)
print(insurance_costs)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

##### 4.5

Now that all of our data is in separate lists, we can easily perform analysis on that data. Let’s calculate the average BMI in our dataset.

First, create a variable called `total_bmi` and set it equal to 0.

In [116]:
total_bmi = 0

##### 4.6

Next, use a `for` loop to iterate through `bmis` and add each bmi to `total_bmi`.

Remember to convert `bmi` to a float.

In [117]:
type(bmis[0])

str

In [118]:
for bmi in bmis:
    total_bmi += float(bmi)

In [119]:
total_bmi

258.3

##### 4.7

After the for loop, create a variable called `average_bmi` that stores the `total_bmi` divided by the length of the `bmis` list.

Print out `average_bmi` with the following message:

Average BMI: {average_bmi}

In [120]:
for bmi in bmis:
    total_bmi += float(bmi)
    average_bmi = total_bmi / len(bmis)
print(f"Average BMI: {average_bmi}")

Average BMI: 51.660000000000004

##### 5. Extra

##### 5.1

Calculate the average insurance cost in insurance_costs. You will have to remove the $ in order to calculate this.

In [121]:
total_cost = 0

In [122]:
for cost in insurance_costs:
    total_cost += float(cost[1:])
    average_cost = total_cost / len(insurance_costs)

In [124]:
average_cost

8390.7

##### 5.2

Write a for loop that outputs a string for each individual in the following format:

Marina is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0.

------ is -- years old with a BMI of 22.4 and an insurance cost of ------

In [126]:
medical_records_clean

[['MARINA ALLISON', '27', '31.1', '$7010.0'],
 ['MARKUS VALDEZ', '30', '22.4', '$4050.0'],
 ['CONNIE BALLARD', '43', '25.3', '$12060.0'],
 ['DARNELL WEBER', '35', '20.6', '$7500.0'],
 ['SYLVIE CHARLES', '22', '22.1', '$3022.0'],
 ['VINAY PADILLA', '24', '26.9', '$4620.0'],
 ['MEREDITH SANTIAGO', '51', '29.3', '$16330.0'],
 ['ANDRE MCCARTY', '19', '22.7', '$2900.0'],
 ['LORENA HODSON', '65', '33.1', '$19370.0'],
 ['ISAAC VU', '34', '24.8', '$7045.0']]

In [129]:
for record in medical_records_clean:
    print("{} is {} years old with a BMI of {} and insurance cost of {}.".format(record[0], record[1], record[2], record[3]))

MARINA ALLISON is 27 years old with a BMI of 31.1 and insurance cost of $7010.0.
MARKUS VALDEZ is 30 years old with a BMI of 22.4 and insurance cost of $4050.0.
CONNIE BALLARD is 43 years old with a BMI of 25.3 and insurance cost of $12060.0.
DARNELL WEBER is 35 years old with a BMI of 20.6 and insurance cost of $7500.0.
SYLVIE CHARLES is 22 years old with a BMI of 22.1 and insurance cost of $3022.0.
VINAY PADILLA is 24 years old with a BMI of 26.9 and insurance cost of $4620.0.
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and insurance cost of $16330.0.
ANDRE MCCARTY is 19 years old with a BMI of 22.7 and insurance cost of $2900.0.
LORENA HODSON is 65 years old with a BMI of 33.1 and insurance cost of $19370.0.
ISAAC VU is 34 years old with a BMI of 24.8 and insurance cost of $7045.0.